<nav *ngIf="isLoggedIn" class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand">User messaging</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon">User messaging</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="active"
          >Messages</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active"
          >User</a
        >
      </li>
    </ul>
  </div>
  <span class="navbar-text">
    {{ loggedInUser.lastName }} {{ loggedInUser.firstName }}
    |
    <a (click)="logout()" class="logout">Logout</a>
  </span>
</nav>

<router-outlet></router-outlet>
